* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}
.notfound {
	flex-direction: column;
	display: flex;
	margin-top: 13rem;
	align-items: center;
}
.text {
	font-size: 5rem;
	margin-bottom: 2rem;
}
.notfound h2 {
	font-size: 5rem;
	color: lightgray;
}
